@import 'vars.sass'


.otkrytie
    .btn-primary, .btn.disabled, .btn:disabled
        background: $otkrytie
        border-color: $otkrytie
        color: #FFF
    .text-primary
      color: $otkrytie !important
    .hero-banner
        background: $otkrytie
        background-size: cover
    h1 
        color: #FFF
        font-size: 4rem

.hero-header
    display: flex
    padding-bottom: 10rem
    &__logo
        display: flex
        width: 100px
        margin-right: 2rem
        position: relative
        top: .5rem
        svg 
            width: 150px
            margin: auto

.category
  &__item
    background-color: $otkrytie
    color: #fff
    position: relative
    &.color-1
      background-color: #020202
    &.color-2
      background-color: #b7a897
    &.color-3
      background-color: #d13710
    &.color-4
      background-color: #a08661
      з

    .image
      margin-left: 50%
      // padding-bottom: 50%
    
    .content
      display: flex
      text-align: center
      bottom: 0
      left: 0
      right: 0
      padding: 0 2rem 
      min-height: 10rem
      color: #fff !important
   


      // position: absolute
      h6
        margin: auto
        color: #fff !important
        
        text-transform: uppercase
      &__wrapper
        margin: auto


body
    color: #454545
.booking-box .box-heading 
    background-color: #000000

.destination-grid-item-01 a:hover .image img 
    box-shadow: none

.main-logo 
    a
        white-space: nowrap
    &__link
        display: flex
        line-height: 1.25
        span 
            margin-top: .75rem
            text-transform: uppercase
            font-weight:  bold
            letter-spacing: 1px

.row.gap-50
    margin-right: 0

.logo
    fill: $accent
    height: 60px
    width: 60px
    display: inline-block
    margin-right: 1rem
    &-footer
        fill: #222222

.hero-inner
    .main__title
        font-size: 50px
        line-height: 53px
        height: 100%
        display: flex
        align-items: center

.tour-long-item-01 .image
    @media (min-width: 1200px)
      width: 300px
      object-fit: cover

.tour-long-item-01
    .image
        height: 215px
        overflow: hidden
        position: relative
        img
            // min-height: 100%
            // min-width: 100%
            // width: auto
            // max-width: none
            // position: absolute
            // left: 50%
            // top: 50%
            // transform: translate(-50%, -50%)

.service-tab
    background: #f5f5f5
    padding: 20px 
    border-radius: 5px
    margin: 15px 0

.text-italic
    font-style: italic

.text-center
    text-align: center

#search-lot-form
    width: 100%

.text-list-name
    font-weight: 600
    color: #000000

.header-main .main-nav li ul
    width: 205px

.header-main.header-mobile-menu .main-menu-nav .menu-drop-line
    height: 1px
    background-color: rgba(255,255,255, 0.5)
    margin: 1rem 0

.link-disabled
    text-decoration: line-through

.height-100
    height: 100%
    .form-group
        height: 100%
        
.header-main .main-nav li ul li ul, .header-bg-white .header-main .main-nav li ul li ul
    left: 185px

.footer-copy-center
    text-align: center

.fs-40
    font-size: 40px

.chosen-container-multi .chosen-choices .search-field input[type="text"]
    height: 20px

.hideText 
    height: 150px
    overflow: hidden
    position: relative
    &:after
        content: ''
        display: block
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 150px
        background: rgb(255,255,255)
        background: linear-gradient(0deg, rgba(255,255,255,1) 00%, rgba(255,255,255,0) 100%)

.wish
    &__nav
        li
            text-align: center
            a
                color: #333333
                font-weight: 500
                padding-bottom: 1rem
                &:hover
                    font-weight: 600
            .active
                color: $accent
                font-weight: 700

.wish-star
    img
        height: 1.1rem
        width: 1.1rem
.form-service
    width: 100%
    padding: 40px 30px 10px

.spinner
    background-image: url('../img/spinner.png')
    background-size: contain
    width: 4rem
    height: 4rem
    margin: 0 auto
    animation: spinner 1s linear infinite
    &-wrapper
        text-align: center
        width: 100%

.lowercase
    text-transform: lowercase

@keyframes spinner
    to
        transform: rotate(360deg)
    from
        transform: rotate(0deg)

@media (min-width: 992px)
    .hero-banner-01 .search-form-main .form-group
        padding-bottom: 13px

@media (min-width: 992px)
    .hero-banner-01 
        .search-form-main
            max-width: 95%