@import 'vars.sass'

.logo
    fill: $accent
    height: 60px
    width: 60px
    display: inline-block
    &-footer
        fill: #222222

.hero-inner
    .main__title
        font-size: 50px
        line-height: 53px
        height: 100%
        display: flex
        align-items: center

.tour-long-item-01 
    .image
        height: 280px
        img
            height: 100%