/*------------------------------------------------------------------
* Project:        Tourperator
* Author:         Crenoveative 
* URL:            http://crenoveative.com or https://themeforest.net/user/crenoveative/portfolio 
* Created:        10/09/2019 
-------------------------------------------------------------------*/

/** 
 * Add your style here 
 */

#edit_phone {
  position: absolute;
  top: 12%;
  right: 30px;
}

.code_mask {
  border: none;
  text-align: center;
  font-size: 2rem;
  color: #999;
  margin-bottom: 25px;
}

.loader {
  display: flex;
  align-items: center;
}

.sk-wave {
  width: 5em;
  height: 2em;
  margin: auto;
  text-align: center;
  font-size: 1em;
}
.sk-wave .sk-rect {
  background-color: #077751;
  height: 100%;
  width: 3px;
  display: inline-block;
  -webkit-animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
  animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
}
.sk-wave .sk-rect-1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.sk-wave .sk-rect-2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-wave .sk-rect-3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-wave .sk-rect-4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-wave .sk-rect-5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-wave-stretch-delay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sk-wave-stretch-delay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
